   <div class="container-lg">
     <div class="row" *ngIf="recipes.length">
       <h1 class="list-title">Showing Result of {{ searchText }}</h1><br>
       <div class="col-md-4" *ngFor="let recipe of recipes">
         <div class="card mb-4" (click)="showDetails(recipe.id)">
           <div class="card-body">
             <div class="card-img-container">
               <img [src]="recipe.image" class="card-img" alt="{{ recipe.title }}">
             </div>
             <div class="card-content">
               <h5 class="card-title">{{ recipe.title }}</h5>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div *ngIf="!recipes.length">
      <h1 class="list-title">No Data Found</h1><br>
     </div>
   </div>
