 <div class="container-lg-details">
    <div class="row">
      <h1 class="list-title">{{details.title}}</h1>
      <div class="col-md-4">
        <div>
          <img [src]="details.image" style="width: 200px;" alt="{{ details.title }}">
        </div>
        <div class="ingredients-container">
          <h1 class="sub-title">Ingredients</h1>
          <ul class="ingredients-list">
            <li *ngFor="let ingredient of details.extendedIngredients">
              <h5 class="ingredient">{{ ingredient.original }}</h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-lg-details">
    <div class="row">
      <h1 class="sub-title">Steps</h1>
      <div class="col-md-4">
        <div class="steps-container">
          <ul class="steps-list">
            <li *ngFor="let step of details.analyzedInstructions[0].steps">
              <h5 class="step">{{ step.step }}</h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  